<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;900&display=swap" rel="stylesheet">
<!-- Menu Header -->
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/091f1122a7.js" crossorigin="anonymous"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<script src="{{ url_for('static',filename='js/main.js')}}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <title>{{title}}</title>
    {% block head %}{% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
        <a class="navbar-brand" href="{{url_for('index')}}"><img width="30" height="30" src="../static/img/logo.jpg"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{{url_for("index")}}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('branches')}}">Branches</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Regions
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{{url_for('branches')}}">Accra</a>
                <a class="dropdown-item" href="{{url_for('branches')}}">Tema</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{url_for('maps')}}">Locate Me</a>
              </div>
            </li>
          </ul>
            {% if current_user %}
            <a href="{{url_for('account')}}">
              <button class="btn btn-success my-2 my-sm-0">Account</button>
            </a>
            {% else %}
            <a href="{{url_for('login')}}">
            <button class="btn btn-outline-success my-2 my-sm-0">Login</button>
            </a>
            {% endif %}
        </div>
      </nav>
      
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    {% block body %}

    {% endblock %}

    <!-- <div class="footer">
      <div class="row">
        <div class="col-md-8">
          <div style="display:flex;" >
            <a style="margin-right: 10px;" href="#">HOME</a>
            <a style="margin-right: 10px;" href="#">BRANCHES</a>
            <a style="margin-right: 10px;" href="#">MENU</a>
            <a style="margin-right: 10px;" href="#">LOCATE</a>
          </div>
          <div>
            Copyright Basillisa group of companies.
          </div>
        </div>
        <div class="col-md-4" style="display: flex;">
          <i style="color: yellow; margin-right: 10px;" class="fab fa-instagram fa-2x"></i>
          <i style="color: rgb(0, 132, 255); margin-right: 10px;" class="fab fa-facebook fa-2x"></i>
          <i style="color: rgb(255, 217, 0); margin-right: 10px;" class="fab fa-snapchat fa-2x"></i>
          <i style="color: rgb(0, 132, 255); margin-right: 10px;" class="fab fa-twitter fa-2x"></i>
        </div>
      </div>
    </div> -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>