{% extends 'base.html' %}

{% block body %}
<div class="row box" style="background-image: url(../static/img/hero.jpg);">
    <div class="just-overlay">
        <div class="col-md-6 infocard" >
            <h4>Branch Name</h4>
            <h6>Dansoman Branch</h6>
        </div>
    </div>
</div>

<div class="row box" style="background-image: url(../static/img/hero.jpg);">
    <div class="just-overlay">
        <div class="col-md-6 infocard">
            <h4>Branch Name</h4>
            <h6>Dansoman Branch</h6>
        </div>
    </div>
</div>

<div class="row box" style="background-image: url(../static/img/hero.jpg);">
    <div class="just-overlay">
        <div class="col-md-6 infocard">
            <h4>Branch Name</h4>
            <h6>Dansoman Branch</h6>
        </div>
    </div>
</div>
{% endblock %}