{% extends "dash.html" %}

{% block body %}
<div class="sidenav" style="width: 25%; height: 100vh; background-color: white;">
    <div class="container">
        <h4>Basilissa</h4>
        <br>

            <div class="flex" style="display: flex; margin-bottom: 5vh;">
                <div class="elip" style="background-color: #FEBE19; margin-right: 1vw;"></div>
                <div>
                    <h6>Hello</h6>
                    <h6 style="font-weight: bold;">Nana Kweku</h6>
                </div>
            </div>

            <div>
                <h6>MENU</h6>
                <div class="dash-item">Dashboard</div>
                <div class="dash-item">Orders</div>
                <div class="dash-item-active">Inventory</div>
                <div class="dash-item">Riders</div>
            </div>

            <div>
                <h6>SETTINGS</h6>
                <div class="dash-item">Dashboard</div>
            </div>

            <div class="flex" style="display: flex; margin-bottom: 5vh; position: absolute; bottom: 5vh;">
                <div class="elip" style="background-color: #FEBE19; margin-right: 1vw;"></div>
                <div>
                    <h6>Hello</h6>
                    <h6 style="font-weight: bold;">Nana Kweku</h6>
                </div>
            </div>

    </div>
</div>
{% endblock %}