{% extends "base.html" %} 

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="block">
                <h4>Total Orders</h4>
                <h1 style="font-weight: bold;">30</h1>
                <h6 class="text-muted">Last Updated: Right Now</h6>
            </div>
        </div>
        <div class="col-md-3">
            <div class="block">
                <h4>Available Items</h4>
                <h1 style="font-weight: bold;">30</h1>
                <h6 class="text-muted">Last Updated: Right Now</h6>
            </div>
        </div>
        <div class="col-md-3">
            <div class="block" style="background-color: red; color: white;">
                <h4>Restock Now!</h4>
                <h1 style="font-weight: bold;">30</h1>
                <h6>Last Updated: Right Now</h6>

            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 5%;">
      <div id="curve_chart" class="curve_chart"></div>
    </div>

    <div class="row" style="margin-top: 5%;">
        <div class="col-md-3">
            <div class="block">
                <h4>Total Orders</h4>
                <h1 style="font-weight: bold;">30</h1>
                <h6 class="text-muted">Last Updated: Right Now</h6>
            </div>
        </div>
        <div class="col-md-3">
            <div class="block">
                <h4>Available Items</h4>
                <h1 style="font-weight: bold;">30</h1>
                <h6 class="text-muted">Last Updated: Right Now</h6>
            </div>
        </div>
        <div class="col-md-3">
            <div class="block" style="background-color: red; color: white;">
                <h4>Restock Now!</h4>
                <h1 style="font-weight: bold;">30</h1>
                <h6>Last Updated: Right Now</h6>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
      <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);
  
        function drawChart() {
          var data = google.visualization.arrayToDataTable([
            ['Day', 'Users', 'Sales'],
            ['Mon',  1000,      400],
            ['Tue',  1170,      460],
            ['Wed',  660,       1120],
            ['Thur',  1030,      540],
            ['Fri',  1030,      540],
            ['Sat',  1030,      540],
            ['Sun',  1030,      540]
          ]);
  
          var options = {
            title: 'Weekly Peformance',
            curveType: 'function',
            legend: { position: 'bottom' }
          };
  
          var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
  
          chart.draw(data, options);
        }
      </script>
{% endblock %}