{% extends "dash.html" %}

{% block body %}

<div class="container">
    <div style="display: flex; justify-content: space-between;">
        <h4>Riders</h4>
        <!-- <button class="dash-item-active" style="border: none;"> <i class="fas fa-plus" style="padding-right: 10px;"></i> Add a rider</button> -->
        <button class="button-solid-yellow" style="border: none;"> <i class="fas fa-plus" style="padding-right: 10px;"></i> Add a rider</button>
        
    </div>
    <br>
    <div class="row">
        <!-- In -->
        <div class="col-md-4">
            <div data-aos="fade-up" class="card">
                <div>
                    <div class="elip" style="margin-bottom: 1vh;"></div>
                    <div>
                        <h6>Kwame Attafuah</h6>
                        <h6 class="text-muted" style="font-weight: 300;">5 rides</h6>
                    </div>
                </div>
            </div>
        </div>
        <!-- Out -->

        <div class="col-md-4">
            <div data-aos="fade-up" class="card">
                <div>
                    <div class="elip" style="margin-bottom: 1vh;"></div>
                    <div>
                        <h6>Kwame Attafuah</h6>
                        <h6 class="text-muted" style="font-weight: 300;">5 rides</h6>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div data-aos="fade-up" class="card">
                <div>
                    <div class="elip" style="margin-bottom: 1vh;"></div>
                    <div>
                        <h6>Kwame Attafuah</h6>
                        <h6 class="text-muted" style="font-weight: 300;">5 rides</h6>
                    </div>
                </div>
            </div>
        </div>

        
    </div>
</div>


{% endblock %}