{% extends "dash.html" %}

{% block body %}
<!-- <div class="container"> -->
    <div style="display: flex; justify-content: space-between;">
        <h4 style="margin-top: auto; margin-bottom: auto;">Pending Orders</h4>
        <!-- <button class="dash-item-active" style="border: none;"> <i class="fas fa-plus" style="padding-right: 10px;"></i> Add a rider</button> -->
        <button class="button-solid-yellow" style="border: none;"> <i class="fas fa-eye" style="padding-right: 10px;"></i> View All Orders</button>
        
    </div>
<br>
<div class="row">
    <!-- In -->
    {% for order in orders %}
    
    <div class="col-md-4">
        <div class="card" data-aos="fade-up" data-aos-delay="100">
            <a href="{{url_for('dashorder',id=order.id)}}" style="text-decoration: none;">
            <h6>Order #{{order.id}}</h6>
            </a>
            <h6 class="text-muted" >{{order.user}}</h6>
            <h6 class="text-muted" style="font-weight:300">{{order.date_created.strftime("%m/%d/%Y, %H:%M:%S")}}</h6>
            <div>
            
            <div class="status">
                <div>
                    <a href="tel:{{order.phone}}">
                        <h6 style="font-weight: 300;">{{order.phone}}</a></h6>
                    </a>
                    <h6>Ghc {{order.total}}</h6>
                </div>
                <div>
                    <i class="fas fa-check-circle fa-2x" style="color: green;"></i>
                    <i class="fas fa-times-circle fa-2x" style="color: red;"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Out -->
{% endfor %}


</div>
<!-- </div> -->
{% endblock %}