<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;900&display=swap" rel="stylesheet">
<!-- Menu Header -->
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/091f1122a7.js" crossorigin="anonymous"></script>
    <!-- Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- data-aos -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />


<script src="{{ url_for('static',filename='js/main.js')}}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <title>{{title}}</title>
    {% block head %}{% endblock %}
  </head>
  <body style="background-color: #f5f5f5;">
    <div class="sidenav" style="width: 25%; height: 100vh; background-color: white;">
      <div class="container">
          <h4>Basilissa</h4>
          <br>
  
              <div class="flex" style="display: flex; margin-bottom: 5vh;">
                  <div class="elip" style="background-color: #FEBE19; margin-right: 1vw;"></div>
                  <!-- <img src="../static/img/happy.png" style="width: 100%;"> -->
                  <div>
                      <h6>Hello</h6>
                      <h6 style="font-weight: bold;">Nana Kweku</h6>
                  </div>
              </div>
  
              <div>
                  <h6>MENU</h6>
                  {% if title == 'Dashboard' %}
                  <div class="dash-item-active">Dashboard</div>
                  {% else %}
                  <a style="text-decoration: none;" href="{{url_for('dashboard')}}">
                    <div class="dash-item">Dashboard</div>
                  </a>
                  {% endif %}

                  {% if title == 'Orders' %}
                  <div class="dash-item-active">Orders</div>
                  {% else %}
                  <a style="text-decoration: none;" href="{{url_for('dashorders')}}">
                  <div class="dash-item">Orders</div>
                  </a>
                  {% endif %}

                  {% if title == 'Inventory' %}
                  <div class="dash-item-active">Inventory</div>
                  {% else %}
                  <a style="text-decoration: none;" href="{{url_for('dashinventory')}}">
                  <div class="dash-item">Inventory</div>
                  </a>
                  {% endif %}

                  {% if title == 'Riders' %}
                  <div class="dash-item-active">Riders</div>
                  {% else %}
                  <a style="text-decoration: none;" href="{{url_for('dashriders')}}">
                  <div class="dash-item">Riders</div>
                  </a>
                  {% endif %}

              </div>
  
              <div>
                  <h6>SETTINGS</h6>
                  <div class="dash-item">Feedback</div>
              </div>
  
              <div class="flex" style="display: flex; margin-bottom: 5vh; position: absolute; bottom: 2vh;">
                  <div class="elip" style="background-color: #FEBE19; margin-right: 1vw;"></div>
                  <div>
                    <h6 style="font-weight: bold; color: red;">Logout</h6>
                      <h6 class="text-muted">Call for support</h6>
                  </div>
              </div>
  
      </div>
  </div>
  
  
      
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <div class="main">
      {% block body %}
      {% endblock %}
  
    </div>


<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Mon', 'Tue', 'Wed', 'Thurs', 'Friday', 'Sat'],
        datasets: [{
            label: '# of Orders',
            data: [100, 19, 30, 50, 20, 35],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
  </body>
</html>