{% extends "dash.html" %}

{% block body %}

<div class="info-block">
<h4>Dashboard</h4>
<br>
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <h6>Total</h6>
            <h1 style="font-weight: 700;">100</h1>
            <h6><a href="#"><u>View all</u></a></h6>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <h6>Riders</h6>
            <h1 style="font-weight: 700;">100</h1>
            <h6><a href="#"><u>View all</u></a></h6>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <h6>Inventory</h6>
            <h1 style="font-weight: 700;">100</h1>
            <h6><a href="#"><u>View all</u></a></h6>
        </div>
    </div>
</div>
</div>


<div class="info-block">
    <h4>Analytics</h4>
    <br>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <h6>Total</h6>
                <h1 style="font-weight: 700;">100</h1>
                <h6><a href="#"><u>View all</u></a></h6>
            </div>
        </div>
    
        <div class="col-md-4">
            <div class="card">
                <h6>Riders</h6>
                <h1 style="font-weight: 700;">100</h1>
                <h6><a href="#"><u>View all</u></a></h6>
            </div>
        </div>
    
        <div class="col-md-4">
            <div class="card">
                <h6>Inventory</h6>
                <h1 style="font-weight: 700;">100</h1>
                <h6><a href="#"><u>View all</u></a></h6>
            </div>
        </div>
    </div>
    </div>


<div>
    <h4>Quick Actions</h4>
    <br>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <h6>Total</h6>
                <h1 style="font-weight: 700;">100</h1>
                <h6><a href="#"><u>View all</u></a></h6>
            </div>
        </div>
    
        <div class="col-md-4">
            <div class="card">
                <h6>Riders</h6>
                <h1 style="font-weight: 700;">100</h1>
                <h6><a href="#"><u>View all</u></a></h6>
            </div>
        </div>
    
        <div class="col-md-4">
            <div class="card">
                <h6>Inventory</h6>
                <h1 style="font-weight: 700;">100</h1>
                <h6><a href="#"><u>View all</u></a></h6>
            </div>
        </div>
    </div>
    </div>

{% endblock %}