{% extends "base.html" %}

{% block head %}
<style type="text/css">
    /* Set the size of the div element that contains the map */
    #map {
      height: 100vh;
      /* The height is 400 pixels */
      width: 100vw;
      /* The width is the width of the web page */
    }
  </style>
  <!-- <script>
    window.onload = getLocation();
  
    // Initialize and add the map
    function initMap(longitude, latitude) {
      // The location of Uluru
      const uluru = { lat: 5.738548696970146, lng: 0.03265251065119554 };
      // const uluru = { lat: latitude,  lng: longitude };
      // The map, centered at Uluru
      const map = new google.maps.Map(document.getElementById("map"), {
        zoom: 15,
        center: uluru,
      });
      // The marker, positioned at Uluru
      const marker = new google.maps.Marker({
        position: uluru,
        map: map,
        zoom: 4,
      });
    }

  var x = document.getElementById("demo");
  function getLocation() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(showPosition);
    } else {
      x.innerHTML = "Geolocation is not supported by this browser.";
    }

  }


  
  function showPosition(position) {
    // document.getElementById("demo").value = "Latitude: " + position.coords.latitude +
    // "<br>Longitude: " + position.coords.longitude;
    console.log('shown')
    const loc = "https://www.google.com/maps/search/?api=1&query=" + position.coords.latitude + "," + position.coords.longitude
    console.log(loc)

    sessionStorage.setItem("latitude", position.coords.latitude)
    sessionStorage.setItem("longitude", position.coords.longitude)
    document.getElementById("demo").value = loc

  }

    
  </script> -->
{% endblock %}



{% block body %}
<div class="container">
    <div class="myFrame"></div>
<form action="" method="POST">
{{form.hidden_tag()}}
    
<h4>Please confirm your information</h4>

<div class="form-group">
    {{form.name.label}}
    {{form.name (class="form-control")}}
</div>
  
<div class="form-group">
    {{form.phone.label}}
    {{form.phone (class="form-control")}}
</div>

<div class="form-group" style="display: none;">
  {{form.cart.label}}
  {{form.cart (class="form-control")}}
</div>

<div class="form-group" style="display: none;">
  {{form.branch.label}}
  {{form.branch (class="form-control")}}
</div> 

<div class="form-group" style="display: none;">
  {{form.total.label}}
  {{form.total (class="form-control", id="total")}}
</div> 

<div class="form-group" style="display: none;">
  {{form.location.label()}}
  {{form.location (class="form-control", id="demo", value="North west of the border")}}
</div>

<div class="form-group" >
  {{form.notes.label}}
  {{form.notes (class="form-control")}}
</div>

<div style="text-align: center;">
    {{form.submit(class="button-solid-black")}}
</div>
    </form>
<!-- <div id="map" style="width: 80vw; height: 30vh; text-align: center;  margin: auto;"></div>
    </div> -->


    <!-- <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEQbDoqr9mxC1QEEcWLsyjKg428R0YgeE&callback=initMap&libraries=&v=weekly"
      async
    >

  </script> -->

  <script>
    window.onload = function(){
      document.getElementById('total').value = sessionStorage.getItem('itemTotals')
      console.log(document.getElementById('total').value)
    }
  </script>


{% endblock %}

