{% extends 'base.html' %}

{% block body %}
<div class="row">
    <div class="box" style="background-image: url('../static/img/hero.jpg') ; margin-bottom: 5%;">
        <div class="overlay">
            <h1>PIZZA</h1>
        </div>
    </div>
</div>

<br>
<!-- <div class="container"> -->
    
    <div class="row" style="justify-content: space-around; padding-bottom: 10%;">

    <div class="col-md-3" style="text-align: center;">
        <img width="70%" src="../static/img/pizza.png">
        <br>
        <h6 id="id" class="id" style="display: none;">1</h6>
        <h4 class="menu-head">Pizza</h4>
        <h6 class="menu-explore">Everything Nice </h6>
        <button class="button" onclick="addToCart(event)">Add to cart</button>
        <div class="white-space"></div>
    </div>

    <button style="position: fixed; bottom: 20px; " class="hover-button" onclick="GoToCart()">
        <a style="text-decoration: none; color: black; font-weight: bold;"href="{{url_for('cart')}}">
            Go to cart
        </a>
        </button>
</div>
{% endblock %}