{% extends 'base.html' %}

{% block body %}
<div class="row">
    <div class="box" style="background-image: url('../static/img/hero.jpg') ; margin-bottom: 5%;">
        <div class="overlay">
            <h1>PIZZA</h1>
        </div>
    </div>
</div>

<br>
<!-- <div class="container"> -->
<div class="row" style="justify-content: space-around; padding-bottom: 10%;">
    <div class="col-md-3" style="text-align: center;">
        <img width="70%" src="../static/img/pizza.png">
        <br>
        <h4 class="menu-head">Double Deckered Pizza</h4>
        <h6 class="menu-explore">Cheese, Grease, Ice Cream, Jolly Juice and A pint of our secret sauce. </h6>
    </div>

    <div class="col-md-3" style="text-align: center;">
        <img width="70%" src="../static/img/pizza.png">
        <h4 class="menu-head">Double Deckered Pizza</h4>
        <h6 class="menu-explore">Cheese, Grease, Ice Cream, Jolly Juice and A pint of our secret sauce. </h6>
    </div>

    <div class="col-md-3" style="text-align: center;">
        <img width="70%" src="../static/img/pizza.png">
        <h4 class="menu-head">Double Deckered Pizza</h4>
        <h6 class="menu-explore">Cheese, Grease, Ice Cream, Jolly Juice and A pint of our secret sauce. </h6>
    </div>
</div>

<div class="row" style="justify-content: space-around;">
    <div class="col-md-3" style="text-align: center;">
        <img width="70%" src="../static/img/pizza.png">
        <br>
        <h4 class="menu-head">Double Deckered Pizza</h4>
        <h6 class="menu-explore">Cheese, Grease, Ice Cream, Jolly Juice and A pint of our secret sauce. </h6>
    </div>

    <div class="col-md-3" style="text-align: center;">
        <img width="70%" src="../static/img/pizza.png">
        <h4 class="menu-head">Double Deckered Pizza</h4>
        <h6 class="menu-explore">Cheese, Grease, Ice Cream, Jolly Juice and A pint of our secret sauce. </h6>
    </div>

    <div class="col-md-3" style="text-align: center;">
        <img width="70%" src="../static/img/pizza.png">
        <h4 class="menu-head">Double Deckered Pizza</h4>
        <h6 class="menu-explore">Cheese, Grease, Ice Cream, Jolly Juice and A pint of our secret sauce. </h6>
    </div>
</div>
<!-- </div> -->
<br>



{% endblock %}