{% extends "base.html" %}

{% block body %}


<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <br>
                <h1 class="header" style="width: 530px;">Food tastes better when you eat it with your family</h1>
                <br>
                <h6 class="support-regular" style="width: 400px;">Some supporting text not to neccessarily contrast, but you know... to make the UI beautifyl, aesthetic and pleasant. Some supporting text</h6>
                <br>
                <div class="flex">
                    <button class="button-solid-black" style="font-weight: bold;">Find a branch near me <i class="fas fa-arrow-right"></i></button>
                    <button class="button-regular-black">Explore Our Meny</button>
                </div>
            </div>
            <div class="col-md-6">
                <img src="../static/img/pizza.png" class="middle-img" width="498px" height="353px" alt="">
            </div>
        </div>
    </div>
</section>

<!-- <section>
    <div class="container">
        <h4>Meal Of The Day</h4>

    <div class="scrolling-wrapper">
        <div class="scrolling-card">
            <img src="../static/img/fwd/BURGER AND CHIPS NEW copy.jpg" width="352px" height="226px" alt="">
        </div>
      </div>
    </div>

</section> -->
<section style="background-color: #febd1950;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="../static/img/pizza.png" class="middle-img" width="498px" height="353px" alt="">
            </div>
            <div class="col-md-6">
                <h4 class="header" style="font-size: 40px; width: 424px;">Nothing brings people together like good food</h4>
                <br>
                <h6 class="support-regular" style="width: 400px;">Some supporting text not to neccessarily contrast, but you know... to make the UI beautifyl, aesthetic and pleasant. Some supporting text</h6>
                <br>
                <button class="button-solid-black" style="font-weight: bold; background-color: #FEBE19;">Find a branch near me <i class="fas fa-arrow-right"></i></button>
            </div>
        </div>
    </div>

</section>

<section>
    <div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h6 class="support" style="color: #FEBE19;">ABOUT US</h6>
                <br>
                <h4 class="header" style="font-size: 40px; width: 424px;">Nothing brings people together like good food</h4>
                <br>
                <h6 class="support-regular" style="width: 400px;">Some supporting text not to neccessarily contrast, but you know... to make the UI beautifyl, aesthetic and pleasant. Some supporting text</h6>
            </div>
            <div class="col-md-6">
                <img src="../static/img/Chef.png" class="middle-img"  alt="">
            </div>
        </div>
    </div>
</div>
</section>


<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h4 class="header" style="font-size: 40px; width: 424px;">Our Branches</h4>
                <br>
                <h6 class="support-regular" style="width: 400px;">Some supporting text not to neccessarily contrast, but you know... to make the UI beautifyl, aesthetic and pleasant. Some supporting text</h6>
            </div>
            <div class="col-md-6">

                <div style="display:flex; ">
                    <div class="elip"></div>
                    <div style="display:flex; justify-content:space-between;">
                        <div>
                            <h4>Dawhenya</h4>
                            <h6>30km away</h6>
                        </div>
                    </div>
                </div>
                <hr>

                <div style="display:flex; ">
                    <div class="elip"></div>
                    <div style="display:flex; justify-content:space-between;">
                        <div>
                            <h4>Afienya</h4>
                            <h6>30km away</h6>
                        </div>
                    </div>
                </div>
                <hr>

                <div style="display:flex; ">
                    <div class="elip"></div>
                    <div style="display:flex; justify-content:space-between;">
                        <div>
                            <h4>Dawhenya</h4>
                            <h6>30km away</h6>
                        </div>
                    </div>
                </div>
                <hr>

                <div style="display:flex; ">
                    <div class="elip"></div>
                    <div style="display:flex; justify-content:space-between;">
                        <div>
                            <h4>Dawhenya</h4>
                            <h6>30km away</h6>
                        </div>
                    </div>
                </div>
                <hr>

                <div style="display:flex; ">
                    <div class="elip"></div>
                    <div style="display:flex; justify-content:space-between;">
                        <div>
                            <h4>Dawhenya</h4>
                            <h6>30km away</h6>
                        </div>
                    </div>
                </div>
                <hr>

                <div style="display:flex; ">
                    <div class="elip"></div>
                    <div style="display:flex; justify-content:space-between;">
                        <div>
                            <h4>Dawhenya</h4>
                            <h6>30km away</h6>
                        </div>
                    </div>
                </div>
                <hr>


                <div class="footer">
                    <div class="wrapper">
                        <div class="container">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}