<!DOCTYPE html>
<html>
  <head>
    <title>Map</title>

    <script src="https://kit.fontawesome.com/091f1122a7.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../static/css/style.css">
    <style type="text/css">
      /* Set the size of the div element that contains the map */
      #map {
        height: 100vh;
        /* The height is 400 pixels */
        width: 100vw;
        /* The width is the width of the web page */
      }
    </style>
    <script>
      // Note: This example requires that you consent to location sharing when
// prompted by your browser. If you see the error "The Geolocation service
// failed.", it means you probably did not give permission for the browser to
// locate you.
let map, infoWindow;

function initMap() {
  map = new google.maps.Map(document.getElementById("map"), {
    center: { lat: 5.738548696970146, lng: 0.03265251065119554 },
    zoom: 14,
  });

  const c25 = { lat: 5.738548696970146, lng: 0.03265251065119554 };
  const hroad = { lat: 5.651568283023563, lng: -0.012291229964026231 };

  const newmarker = new google.maps.Marker({
          position: c25,
          map: map,
          zoom: 4,

        });

        const marker = new google.maps.Marker({
          position: hroad,
          map: map,
          zoom: 4,
        });

       


        

  infoWindow = new google.maps.InfoWindow();
  // const locationButton = document.createElement("button");
  const locationButton = document.getElementById("buttons");
  locationButton.textContent = "Locate me";
  locationButton.classList.add("custom-map-control-button");
  // map.controls[google.maps.ControlPosition.TOP_CENTER].push(locationButton);
  locationButton.addEventListener("click", () => {
    // Try HTML5 geolocation.
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(
        (position) => {
          const pos = {
            lat: position.coords.latitude,
            lng: position.coords.longitude,
          };
          infoWindow.setPosition(pos);
          infoWindow.setContent("You are here.");
          infoWindow.open(map);
          map.setCenter(pos);
        },
        () => {
          handleLocationError(true, infoWindow, map.getCenter());
        }
      );
    } else {
      // Browser doesn't support Geolocation
      handleLocationError(false, infoWindow, map.getCenter());
    }
  });
}

function handleLocationError(browserHasGeolocation, infoWindow, pos) {
  infoWindow.setPosition(pos);
  infoWindow.setContent(
    browserHasGeolocation
      ? "Error: The Geolocation service failed."
      : "Error: Your browser doesn't support geolocation."
  );
  infoWindow.open(map);
}
    </script>
  </head>
  <body>
    <!-- <h3>My Google Maps Demo</h3> -->
    <!--The div element for the map -->
    <div id="map">
    </div>
<!-- <div class="overlay"> -->
    <div class="locations">
      <button id="buttons" class="button">Locate ME</button>
      <a href="{{url_for('menu', location="Dawhenya")}}">
      <div class="bar">
        <i class="fas fa-certificate fa-2x" style="margin-top: auto; margin-bottom:auto;"></i>
        <h4>Basillisa Dawhenya</h4>
        <i style="margin-left: auto; margin-top: auto; margin-bottom: auto;" class="fas fa-angle-right"></i>
      </div>
      </a>
      <div class="bar">
        <i class="fas fa-certificate fa-2x" style="margin-top: auto; margin-bottom:auto;"></i>
        <h4>Basillisa Hospital Raad</h4>
      </div>
    </div>
    </div>
    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEQbDoqr9mxC1QEEcWLsyjKg428R0YgeE&callback=initMap&libraries=&v=weekly"
      async
    ></script>
  </body>
</html>