<!DOCTYPE html>
<html>
  <head>
    <title>Map</title>

    <script src="https://kit.fontawesome.com/091f1122a7.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../static/css/style.css">
    <style type="text/css">
      /* Set the size of the div element that contains the map */
      #map {
        height: 100vh;
        /* The height is 400 pixels */
        width: 100vw;
        /* The width is the width of the web page */
      }
    </style>
    <script>
      // Initialize and add the map
      function initMap() {
        // The location of Uluru
        const com25 = { lat: 5.738548696970146, lng: 0.03265251065119554 };
        const hroad = { lat: 5.651568283023563, lng: -0.012291229964026231 };


        // The map, centered at Uluru
        const map = new google.maps.Map(document.getElementById("map"), {
          zoom: 12,
          center: com25,
        });
        // The marker, positioned at Uluru
        const marker = new google.maps.Marker({
          position: com25,
          map: map,
          zoom: 4,
        });

        const newmarker = new google.maps.Marker({
          position: hroad,
          map: map,
          zoom: 4,
        });
        
      }
    </script>
  </head>
  <body>
    <!-- <h3>My Google Maps Demo</h3> -->
    <!--The div element for the map -->
    <div id="map">
    </div>
<!-- <div class="overlay"> -->
    <div class="locations">
      <div class="bar">
        <i class="fas fa-certificate fa-2x" style="margin-top: auto; margin-bottom:auto;"></i>
        <h4>Basillisa Dansoman</h4>
        <i class="fas fa-angle-right"></i>
      </div>
      <div class="bar">
        <i class="fas fa-certificate fa-2x" style="margin-top: auto; margin-bottom:auto;"></i>
        <h4>Basillisa Dansoman</h4>
      </div>
    </div>
    </div>
    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEQbDoqr9mxC1QEEcWLsyjKg428R0YgeE&callback=initMap&libraries=&v=weekly"
      async
    ></script>
  </body>
</html>