{% extends "base.html" %}

{% block body %}
<div class="container">
    <div style="display: flex; justify-content: space-between;">
        <h4 style="margin-top: auto; margin-bottom: auto;">{{location}}</h4>
        <!-- <button class="dash-item-active" style="border: none;"> <i class="fas fa-plus" style="padding-right: 10px;"></i> Add a rider</button> -->
        <!-- <button class="button-solid-yellow" style="border: none;"> <i class="fas fa-plus" style="padding-right: 10px;"></i> Add a category</button> -->
    </div>
    <br>
    <div class="row">
        <div class="col-md-4 col-6">
            <a href="{{url_for('explore', itemname="Pizza" )}}">

            <div class="card" data-aos="fade-up"  style="padding:0; background-size: cover; padding:0; ">
                <div>
                    <div class="imgcaption" style="display: flex; justify-content: space-between;">
                        <img src="../static/img/categories/pizza.png" style="object-fit: cover; border-radius: 10px 10px 0 0 ;" width="100%" height="100px" >
                    </div>
                    <div class="caption" style="display: flex; justify-content: space-between;">
                        <div>
                            <h5>Pizza</h5>
                            <h6 class="text-muted" style="font-weight: 300;">12 items</h6>
                        </div>
                        <div style="margin-top: auto; margin-bottom: auto;"><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
                    </div>
                </div>
            </div>
        </a>

        </div>

        <div class="col-md-4 col-6">
            <div class="card" data-aos="fade-up" style="padding:0; background-size: cover; padding:0; ">
                <div>
                    <div class="imgcaption" style="display: flex; justify-content: space-between;">
                        <img src="../static/img/categories/burger.jpg" style="object-fit: cover; border-radius: 10px 10px 0 0 ;" width="100%" height="100px" >
                    </div>
                    <div class="caption" style="display: flex; justify-content: space-between;">
                        <div>
                            <h5>Burger</h5>
                            <h6 class="text-muted" style="font-weight: 300;">12 items</h6>
                        </div>
                        <div style="margin-top: auto; margin-bottom: auto;"><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-6">
            <div class="card" data-aos="fade-up" style="padding:0; background-size: cover; padding:0; ">
                <div>
                    <div class="imgcaption" style="display: flex; justify-content: space-between;">
                        <img src="../static/img/categories/sandwich.jpg" style="object-fit: cover; border-radius: 10px 10px 0 0 ;" width="100%" height="100px" >
                    </div>
                    <div class="caption" style="display: flex; justify-content: space-between;">
                        <div>
                            <h5>Sandwich</h5>
                            <h6 class="text-muted" style="font-weight: 300;">12 items</h6>
                        </div>
                        <div style="margin-top: auto; margin-bottom: auto;"><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-6">
            <div class="card" data-aos="fade-up"   style="padding:0; background-size: cover; padding:0; ">
                <div>
                    <div class="imgcaption" style="display: flex; justify-content: space-between;">
                        <img src="../static/img/categories/spicy-chicken.png" style="object-fit: cover; border-radius: 10px 10px 0 0 ;" width="100%" height="100px" >
                    </div>
                    <div class="caption" style="display: flex; justify-content: space-between;">
                        <div>
                            <h5>Spicy Chicken</h5>
                            <h6 class="text-muted" style="font-weight: 300;">12 items</h6>
                        </div>
                        <div style="margin-top: auto; margin-bottom: auto;"><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-6">
            <div class="card" data-aos="fade-up" style="padding:0; background-size: cover; padding:0; ">
                <div>
                    <div class="imgcaption" style="display: flex; justify-content: space-between;">
                        <img src="../static/img/categories/crispy-chicken.jpg" style="object-fit: cover; border-radius: 10px 10px 0 0 ;" width="100%" height="100px" >
                    </div>
                    <div class="caption" style="display: flex; justify-content: space-between;">
                        <div>
                            <h5>Crispy Chicken</h5>
                            <h6 class="text-muted" style="font-weight: 300;">12 items</h6>
                        </div>
                        <div style="margin-top: auto; margin-bottom: auto;"><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 col-6">
            <div class="card" data-aos="fade-up" style="padding:0; background-size: cover; padding:0; ">
                <div>
                    <div class="imgcaption" style="display: flex; justify-content: space-between;">
                        <img src="../static/img/categories/combo.jpg" style="object-fit: cover; border-radius: 10px 10px 0 0 ;" width="100%" height="100px" >
                    </div>
                    <div class="caption" style="display: flex; justify-content: space-between;">
                        <div>
                            <h5>Basilissa combo</h5>
                            <h6 class="text-muted" style="font-weight: 300;">12 items</h6>
                        </div>
                        <div style="margin-top: auto; margin-bottom: auto;"><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-6">
            <div class="card" data-aos="fade-up" style="padding:0; background-size: cover; padding:0; ">
                <div>
                    <div class="imgcaption" style="display: flex; justify-content: space-between;">
                        <img src="../static/img/categories/grilled-chicken.jpg" style="object-fit: cover; border-radius: 10px 10px 0 0 ;" width="100%" height="100px" >
                    </div>
                    <div class="caption" style="display: flex; justify-content: space-between;">
                        <div>
                            <h5>Grilled Chicken</h5>
                            <h6 class="text-muted" style="font-weight: 300;">12 items</h6>
                        </div>
                        <div style="margin-top: auto; margin-bottom: auto;"><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-6">
            <div class="card" data-aos="fade-up" style="padding:0; background-size: cover; padding:0; ">
                <div>
                    <div class="imgcaption" style="display: flex; justify-content: space-between;">
                        <img src="../static/img/categories/menu.jpg" style="object-fit: cover; border-radius: 10px 10px 0 0 ;" width="100%" height="100px" >
                    </div>
                    <div class="caption" style="display: flex; justify-content: space-between;">
                        <div>
                            <h5>Side Menu</h5>
                            <h6 class="text-muted" style="font-weight: 300;">12 items</h6>
                        </div>
                        <div style="margin-top: auto; margin-bottom: auto;"><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-6">
            <div class="card" data-aos="fade-up" style="padding:0; background-size: cover; padding:0; ">
                <div>
                    <div class="imgcaption" style="display: flex; justify-content: space-between;">
                        <img src="../static/img/categories/shawarma.png" style="object-fit: cover; border-radius: 10px 10px 0 0 ;" width="100%" height="100px" >
                    </div>
                    <div class="caption" style="display: flex; justify-content: space-between;">
                        <div>
                            <h5>Shawarma</h5>
                            <h6 class="text-muted" style="font-weight: 300;">12 items</h6>
                        </div>
                        <div style="margin-top: auto; margin-bottom: auto;"><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
                    </div>
                </div>
            </div>
        </div>




        <div>
 
    </div>
</div>
{% endblock %}  