{% extends 'base.html' %}

{% block body %}

<!-- <h1>Our Menu</h1> -->

<div class="wrapper">
    <div class="row">
        <div class="col-md-4 box" style="background-image: url('../static/img/card.jpg') ;">
            <div class="just-overlay" style="padding: 40px; color: white;"> 
                <h4 class="heading" style="color: yellow; font-weight: bold;">Basilissa - {{location}}</h4>
                <br>
                <h4 style="font-size: 30px;">All the produce that comes together to bring you basillisa comes from our own backyard farm.</h4>
            </div>
        </div>
        <div class="col-md-8 box" style="background-image: url('../static/img/hero.jpg') ;">
            <a href="{{url_for('explore', itemname="pizza")}}">
            <div class="overlay">
                <h1>PIZZA</h1>
            </div>
        </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 box" style="background-image: url('../static/img/chineese.jpg') ;">
            <div class="overlay">
                <h1>CHINEESE</h1>
            </div>
        </div>
        <div class="col-md-4 box" style="background-image: url('../static/img/cocktail.jpg') ;">
            <div class="overlay">
                <h1>COCKTAILS</h1>
            </div>
        </div>
        
    </div>

    <div class="row">
        <div class="col-md-4 box" style="background-image: url('../static/img/shawarma.jpg') ;">
            <div class="overlay">
                <h1>SHAWARMA</h1>
            </div>
        </div>
        <div class="col-md-8 box" style="background-image: url('../static/img/chicken.jpg') ;">
            <div class="overlay">
                <h1>CHICKEN</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 box" style="background-image: url('../static/img/rice.jpg') ;">
            <div class="overlay">
                <h1>RICE</h1>
            </div>
        </div>
        <div class="col-md-4 box" style="background-image: url('../static/img/hero.jpg') ;">
            <div class="overlay">
                <h1>PIZZA</h1>
            </div>
        </div>
        
    </div>

</div>


{% endblock %}