{% extends "base.html" %}

{% block body %}
<div class="container">
    <div style="display: flex; justify-content: space-between;">
        <h1>#{{order.id}} </h1>
        {% if order.delivered == False %}
        <!-- <a href="{{url_for('deleteOrder', id=order.id)}}"> -->
            <button class="button-solid-black" style="background-color: brown;" data-toggle="modal" data-target="#exampleModal">Cancel Order</button>
        <!-- </a> -->
        {% else %}
        
        <!-- <button class="button-solid-yellow" style="background-color: green;"><i class="fa fa-check" aria-hidden="true"></i> Delivered</button> -->
        {% endif %}
    </div>
    <hr>
    <h6>{{order.user}}</h6>
    <h6>Ordered at {{order.date_created.strftime("%H:%M")}}</h6>
    <h6>Total of <span style="font-weight: 500;">Ghc{{order.total}}</span></h6>
    <h6 style="display: none;" id="array">{{order.order}}</h6>

    <section style="padding: 5px;" id="ordersss"></section>

</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Cancel Order</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            Are you sure you want to cancel this order
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
          <button type="button" class="btn btn-primary">Cancel Order</button>
        </div>
      </div>
    </div>
  </div>

<script>
    orders = document.getElementById("ordersss")
    console.log(orders)
    var array = JSON.parse(document.getElementById("array").innerHTML)
    console.log("The array:" + array)
    length = array.length - 1;

    // var node = document.createElement("div")
    // var text = newdiv.appendChild(`<h4>YesPleasee</h4>`)
    
    
    for (var i = 0; i <= length; i++){
        var newdiv = document.createElement('div')
        console.log(array[i])
        console.log(array[i].itemname)
        console.log(array[i].itemid)
        console.log(array[i].itemquantity)
        order = `<div class="strip">
            <div>
                    <h6>${array[i].itemname}</h6>
                    </div>
                    <div>
                        
                        <h6>${array[i].itemquantity}</h6>
            </div>
                </div>`
                console.log(order)
        newdiv.innerHTML = order
        orders.append(newdiv)
        console.log(orders)
    }
</script>
{% endblock %}
