{% extends "base.html" %}

{% block body %}
<div class="container">
    <h4 onload="myFunction()">Order Id: {{order.id}}</h4>
    <div style="text-align: center;">
        <h6>Your Total</h6>
        <h1 style="font-weight: 900; font-size: 80px;">Ghc {{order.total}}</h1>
        <h6>You will recieve a confirmation call from Basilissa, thank you</h6>
        
            <div style="margin-bottom: 20px;">
                <a href="{{url_for('index')}}">
                    <button class="button-solid-yellow" style="width: 80%;" >Order Again</button>
                </a>
            </div>
            <div style="margin-bottom: 20px;">
                <button class="button-solid-yellow" style="width: 80%;">Report Situation</button>
            </div>
            <div style="margin-bottom: 20px;">
                <button class="button-solid-yellow" style="width: 80%;">Call Basilissa</button>
            </div>
    </div>
    
</div>
<!-- Button trigger modal -->
<button type="button" style="display: none;" id="exampleModalTrigger" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>
{% if current_user.name %}
<!-- Modal -->
  
{% else %}

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <h4>
          Just a sec...
        </h4>
        <br>
        <div>
          <p>Hi Would you like to create an account for a faster checkout experience?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="button-solid-black" data-dismiss="modal">Close</button>
        <a href="{{url_for('signup')}}">
          <button type="button" class="button-solid-yellow">Sign Me Up!</button>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- <div class="modal hide fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div role="document">
      <div class="strip-bg" >
        <h4>
          Just a sec...
        </h4>
        <br>
        <div>
          <p>Hi Would you like to create an account for a faster checkout experience?</p>
          <div class="modal-footer">
            <button type="button" class="button-solid-black" data-dismiss="modal" onclick="close()">No Please</button>
            <a href="{{url_for('signup')}}">
              <button class="button-solid-yellow" onclick="fire()">Lets Do It</button>
            </a>
          </div> 
        </div>
      </div>
  
  </div>
</div> -->

{% endif %}
<script>

window.onload = function(){
    $("#exampleModalCenter").modal("show");
    console.log("sdfghjk");
  }


  function close(){
    $("#exampleModal").modal("close");

  }
//   $(document).ready(function() {
//     console.log("sdfghjk");

//     window.onload = function(){
//     $("#exampleModal").modal("show");
//     console.log("sdfghjk");
//   }
// });
//  $("#exampleModal").trigger('click');
  // window.onload = function(){
  //   $("exampleModalTrigger").modal("show");
  //   console.log("sdfghjk")
  // //   button = document.getElementById('#exampleModalTrigger')
  // //   console.log(button)
  // // document.getElementById('#exampleModalTrigger').click();
  // }
  </script>
{% endblock %}