{% extends "base.html" %}

{% block body %}
<div class="container">
    <h4>Order Id: 20</h4>
    <div style="text-align: center;">
        <h6>Your Total</h6>
        <h1>Ghc 300</h1>
        <h6>You will recieve a confirmation call from Basilissa =, thank you</h6>
        
            <div>
                <button class="button-solid-yellow">Order Again</button>
            </div>
            <div>
                <button class="button-solid-yellow">Report Situation</button>
            </div>
            <div>
                <button class="button-solid-yellow">Call Basilissa</button>
            </div>
    </div>
    
</div>
{% endblock %}